<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>

    <!-- 希望vue能控制下面的div，帮我们把数据填充到div内部 -->
    <div id="app">
        <p v-if="flag">v-if</p>
        <p v-show="flag">v-show</p>

        <hr>
        <p v-if="type === 'A'">优秀</p>
        <p v-else-if="type === 'B'">良好</p>
        <p v-else="type === 'C'">一般</p>
    </div>

    <!-- 1. 导入vue的库文件 -->
    <script src="./lib/vue-2.6.12.js"></script>
    <!-- 2. 创建 vue 的实例对象 -->
    <script>
        //创建 vue 实例对象
        const vm = new Vue({
            // el 属性是固定写法，表示当前vm实例要控制页面的哪个区域，接收的值是一个选择器
            el: '#app',
            // data 对象就是要渲染到页面上的数据
            data: {
                //true 展示  false 不展示
                flag: true,
                type: 'A'

            }
        })
        
    </script>
</body>
</html>